*{
    padding: 0px;
    margin: 0px;
    border: 0px;
}
*{
    box-sizing: border-box;
}
*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
li{list-style-type: none;}
:focus, :active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;} 
html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family: inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0%; border: 0;}
a, a:visited{text-decoration: none;}

* {box-sizing: border-box;}
img {
    vertical-align: middle;
    max-width: 100%;
}

body{
    height: 100%;
}

.wrapper {
    max-width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
/* .header {

} */
.header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0 80px 0 80px ;
}

.logo {
    margin-right: 280px;
}
.ul-nav {
    display: inline-flex;
    flex-wrap: wrap;
}
.li-nav {
    margin: 0 32px 0 0;
}
.a-nav{
    font-family: Montserrat;
    font-size: 12px;
    line-height: 24px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #191919;
}

.a-nav:hover{
    color: #10c9c3;
}

.active{
    color: #10c9c3;
}

.container-raw{
    display: flex;
    justify-content: space-evenly;
}

.half-div{width: 50%;}

.container-to-bg-style{background: linear-gradient(145deg, #ffffff, #dfe5e8);}

.main {
    flex: 1 1 auto;
}

.title {
    margin-bottom: 40px;
    font-family: Montserrat;
    font-size: 30px;
    line-height: 60px;
    font-weight: 500;
    letter-spacing: 0.01em;
    color: #191919;
}

.main-txt {
    margin-top: 30px;
    /* display: flex;
    justify-content: center; */
    font-family: 'Nunito Sans';
    width: 100%;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.005em;
    color: #787878;
}

.text-container{
    width: 85%;
    padding: 50px 0 0 50px;
}

.container-form {
    height: 580px;
    background-color: #f5f5f5;
    position: relative;
}
.form-container{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.inp-row{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.inp-col{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
}
input{
    font-family: 'Nunito Sans';
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.005em;
    color: #787878;
    padding-left: 15px;
}
.inp-name {
    width: 320px;
    height: 48px;
    background-color: #ffffff;
    margin-right:15px ;
}
.inp-emeil {
    width: 320px;
    height: 48px;
    background-color: #ffffff;
    margin-left:15px ;
}
.inp-title {
    width: 670px;
    height: 48px;
    background-color: #ffffff;
    margin-bottom: 30px;
}
.textarea {
    width: 670px;
    height: 170px;
    background-color: #ffffff;
}
.msg-btn{
    cursor: pointer;
    position: absolute;
    top: 130%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    width: 180px;
    height: 54px;
    background-color: #10c9c3;
}

.map-container{
    margin: 0 auto;
    width: 80%;
    filter: grayscale(100%);
}


.footer {
    background-color: #141414;
}
.footer-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 100px 0 100px 0;
}
h5{
    font-family: Montserrat;
    font-size: 18px;
    line-height: 72px;
    font-weight: 500;
    letter-spacing: 0.01em;
    color: #ffffff;
}
.copy {
    font-family: 'Nunito Sans';
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.005em;
    color: #bcbcbc;
}
.info {
    font-family: 'Nunito Sans';
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.005em;
    color: #bcbcbc;
}
.media {
    font-family: 'Nunito Sans';
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.005em;
    color: #bcbcbc;
}
.media:hover{color: #e0e0e0;}